page-home {
    ion-content{
        background: url('../../assets/imgs/tumblr_mt4ok5oRDg1s9e9eno1_1280.jpg');
        background-size: cover;
    }

    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
    }

    div.content{
        color: white;
        background: linear-gradient(120deg, rgba(255, 255, 255, 0.4), transparent);
        padding: 5rem;
    }
}
