<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list id="avatar">
    <ion-item id="top">
      <ion-thumbnail item-start>
        <img id="headerImage" *ngIf="headingUrl != 'N/A'" src="{{headingUrl}}">
      </ion-thumbnail>
      <h2>{{headingTitle}}</h2>
      <p style="color: white">{{headingPlot}}</p>
      <p>ImDb Rating: {{headingRating}}</p>
    </ion-item>
  </ion-list>
  <div class="maincontent">
    <div class="sidebar">
      <div class="sidebtn">
        <ion-icon name="heart"></ion-icon>
      </div>
      <div class="sidebtn">
        <ion-icon name="information-circle"></ion-icon>
      </div>
      <div class="sidebtn" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
    </div>
    <div class="content" *ngIf="moviesArr != undefined; else other">
      <ion-list id="moviecontent">
        <ion-item id="moviescroll" *ngFor="let movie of moviesArr; let i = index" (click)="selectMovie(i)">
          <ion-thumbnail item-start>
            <img *ngIf="movie.Poster == 'N/A'" src="../../assets/imgs/noimage.jpg" id="menuMovie" alt="">
            <img *ngIf="movie.Poster != 'N/A'" src="{{movie.Poster}}" id="menuMovie">
          </ion-thumbnail>
          <h2>{{movie.Title}}</h2>
          <p>Year Of Release: {{movie.Released}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>